@import'reset';

.sr-only{
    display:none;
}

body{

    display: grid;
    width: 100%;
    overflow-x: hidden;

    & > header{

        height: 20vh;
        display: grid;
        grid-template-columns: 0.1fr 0.9fr;
        background-color: #074b6b;
        color: rgb(255, 255, 255);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);

            & > figure{

                display: flex;
                justify-content: start;
                align-items: center;
                height: 100%;

                    & > img{
                        margin-left: 1.5rem;
                        width: 70%;
                    }
                }

            & > nav{

                align-self: center;
                width: 70vw;
                display: flex;

                & > ul{

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-left: 7rem;

                    & > li{

                        padding-left: 3rem;
                        padding-right: 3rem;

                        & > a{

                            text-transform: uppercase;
                            font-size: 1.2rem;
                        }

                        & > a:hover{

                            text-decoration: underline rgba(201, 21, 120, 0.89);
                            text-decoration-thickness: 1.5px;
                            text-underline-offset: 0.5em;
                        }

                        & > a:visited{
                            color: white;
                        }
                    }

                }

            }

        }


    & > main{
        min-height: 120vh;
        grid-template-rows: 1fr 0.8fr 1fr;


            & > section:first-of-type{

                
                margin-top: 0;
                height: 60vh;
                background-image: url(./assets/img/fond.jpg);
                background-repeat: no-repeat;
                background-size: cover;

                & > h2{

                    padding-top: 0.7rem;
                    color: rgb(8, 11, 163);
                    text-transform: uppercase;
                    font-size: 2.5rem;
                    text-align: center;
                    font-weight: bold;
                }

                & > h3{

                    padding-top: 0.9rem;
                    color:rgb(126, 14, 14);
                    text-transform: uppercase;
                    text-align: center;
                    font-size: 1.5rem;
                    font-weight: bold;
                }

            }

            & > section:nth-of-type(2){

                background-color: #1b6688;
                color:rgb(216, 212, 212);
                height: 50vh;
                

                & > h3{

                    text-align: center;
                    text-transform: uppercase;
                    padding-top: 1rem;
                    font-weight: bold;
                    font-size: 1.5rem;

                }

                & > p{
                    text-align: start;
                    padding-top: 2rem;
                    padding-left: 4rem;
                    padding-right: 4rem;
                    line-height: 1.5rem;
                    font-size: 1.3rem;
                }
            }

            & > section:last-of-type{

                margin-top: 0;
                display: grid;

                & > h3{

                    color: rgb(9, 77, 179);
                    text-align: center;
                    text-transform: uppercase;
                    font-size: 1.5rem;
                    font-weight: bold;
                    padding-top: 1.5rem;
                }

                & > section{

                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    column-gap: 1.5rem;
                    row-gap: 1.5rem;
                    margin-bottom: 2rem;

                    & > article{

                        margin-top: 1.5rem;
                        margin-left: 2rem;
                        margin-right: 2rem;
                        background-color: #074b6b;
                        width: 25vw;
                        height: 25vh;
                    }

                    & > article:first-of-type{
                        background-image: url(./assets/img/santé.jpg);
                        background-repeat: no-repeat;
                        background-size: cover;
                    }

                    & > article:nth-of-type(2){
                        background-image: url(./assets/img/librairie.jpg);
                        background-repeat: no-repeat;
                        background-size: cover;
                    }

                    & > article:nth-of-type(3){
                        background-image: url(./assets/img/boulangerie.jpeg);
                        background-repeat: no-repeat;
                        background-size: cover;
                    }

                    & > article:nth-of-type(4){
                        background-image: url(./assets/img/mont-saint-michel.jpg);
                        background-repeat: no-repeat;
                        background-size: cover;
                    }

                    & > article:nth-of-type(5){
                        background-image: url(./assets/img/festival.jpg);
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                }
            }
    }

    & > footer{

        height: 50vh;
    }

    }



